<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Tobi Knaup | {{ page.title }}</title>
  <meta name="viewport" content="width=device-width">
  <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>

<div id="wrap">
  <div id="container">
    <h1>{{ page.title }}</h1>
    {{ content }}

    <div id="nav"><a href="/">About</a> · <a href="/posts">Posts</a> · <a href="/publications">Publications</a> · <a href="https://cocktails.knaup.me">Cocktail Recipes</a></div>
    <div id="footer"><a href="https://twitter.com/superguenter">@superguenter</a> · <a href="http://www.linkedin.com/in/tobiasknaup">in/tobiasknaup</a> · <a href="https://github.com/guenter">github.com/guenter</a></div>
  </div>
</div>

</body>
</html>
